.registrationSlide01 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
}

.registrationSlide02 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
}

.verticallyCenter02,
.verticallyCenter {
    position: absolute;
    bottom: 50px;
    color: #fff;
}

.verticallyCenter h3,
.verticallyCenter p {
    width: 100%;
    max-width: 40%;
    margin: auto;
    position: relative;
    z-index: 9;
}

.verticallyCenter02 h3,
.verticallyCenter02 p {
    width: 100%;
    max-width: 50%;
    margin: auto;
    position: relative;
    z-index: 9;
}

.verticallyCenter02 p,
.verticallyCenter p {
    font-size: 0.8rem;
    line-height: 23.13px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 15px;
}

img.registrationSlidesBg {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 450px;
}

.slideImg {
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    display: block !important;
    width: 100%;
    padding: 0;
    margin: auto 0;
    list-style: none;
    text-align: left;
    max-width: 20%;
    margin: auto;
    left: 0;
    right: 25%;
    margin-top: 10px;
}

.slick-dots li {
    width: 15px;
    height: 15px;
    margin: 0;
}

.slick-dots li button:before {
    content: '';
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    width: 8px;
    height: 8px;
    display: block;
}

.slick-dots li.slick-active button:before {
    background: rgba(255, 255, 255, 1);
}

img.slideImg02 {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 30px;
    z-index: -1;
    max-width: 350px;
    transform: translate(0%, -50%);
}