@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

body {
    background-image: url('../../../Assets/Dashboard/mainBackground.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sideBar {
    background-color: var(--sideBarBackground);
    height: 100vh;
    position: fixed;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 345px;
}


/* width */

.sideBar::-webkit-scrollbar {
    width: 6px;
}


/* Track */

.sideBar::-webkit-scrollbar-track {
    background: var(--sideBarBackground);
}


/* Handle */

.sideBar::-webkit-scrollbar-thumb {
    background: var(--dashboardListLinkColor);
}


/* Handle on hover */

.sideBar::-webkit-scrollbar-thumb:hover {
    background: var(--dashboardListLinkColor);
}

.profileCustamization button:hover,
.profileCustamization button {
    background-color: transparent;
    border: none;
    color: var(--white);
    margin-bottom: 10px;
}

.ThisMonthsUploads h6,
.ThisMonthsUploads span {
    font-size: 0.8rem;
    margin: 0;
}

.menuList li a {
    color: var(--dashboardListLinkColor);
    text-decoration: none;
    margin: auto;
    font-weight: 600;
    display: block;
}

.menuList ul li a img {
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 15px;
    object-fit: contain;
}

.game-settings-dropdown {
    background-color: transparent !important;
}

.game-settings-dropdown .btn-primary {
    background-color: #1F2333 !important;
    border: 0;
    width: 150px;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideBar ul h6 {
    padding: 5px;
    text-transform: uppercase;
}

.sideBar ul li {
    padding: 12px;
    font-size: 1rem;
}

.sideBar ul li:hover a {
    color: #fff !important;
}

.sideBar ul img {
    margin-right: 10px !important;
}

.hero-settings {
    margin-top: 10px;
    background: url('../.././../Assets/Settings/hero.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 10px;
    color: #fff;

    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-tournament {
    margin-top: 10px;
    background: url('../.././../Assets/Tournament/hero-bg.png') no-repeat;
    background-position: top left;
    padding: 80px 10px;
    color: #fff
}

.hero-ranking {
    margin-top: 10px;
    background: url('../.././../Assets/Ranking/ranking_banner.png') no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 80px 10px;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-upload-maps {
    margin-top: 10px;
    background: url('../.././../Assets/UploadMaps/hero.png') no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 80px 10px;
    color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game-setting-from-country-select {
    padding: 18px 50px !important;
}

.bg-black {
    background-color: #191C26 !important;
}

.setting-from .btn:hover {
    background-color: #FF9900 !important;
    border-color: #FF9900 !important;
    box-shadow: none !important;
}

.menuList ul li {
    list-style-type: none;
}

.ranking-map button {
    background-color: transparent !important;
    border: 0;
}

.ranking-map button::before {
    content: "\f279";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 12px;
}

.ranking-map button::after {
    content: "" !important;
    border: 0 !important;
}

.table tr {
    color: #fff !important;
}

.winner-1 td:first-child {
    background-color: #4E7CFF !important;
    width: 5%;
}

.winner-2 td:first-child {
    background-color: #FFCC40 !important;
    width: 5%;
}

.winner-3 td:first-child {
    background-color: #40C27B !important;
    width: 5%;
}

.ranking-table-body td {
    background-color: #1F2333;
    padding: 15px;
    border: 0 !important;
    text-align: center;
}

table.rankings-table.table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

@media screen and (max-width: 1024px) {
    .sideBar {
        height: 100vh;
        position: fixed;
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 260px;
        padding: 10px !important;
    }

    .sideBar ul img {
        margin-right: 0 !important;
    }

    .sideBar ul li {
        padding: 10px;
        font-size: 1rem;
    }
}

.bg-dark.rounded.score-stats.dropdown>button {
    background-color: transparent;
    border: 0;
    margin: auto;
    padding-left: 50px !important;
    width: 70%;
}

.bg-dark.rounded.score-stats.dropdown>button::after {
    margin-left: 100%;
}

.main-c .icon-image {
    z-index: 99;
    top: 10px;
    left: 20px;
}

@media screen and (max-width: 992px) {

    .hero-settings,
    .hero-tournament,
    .hero-ranking {
        background-position: center;
        background-size: contain;
    }
    .hero-upload-maps{
        background-size: 100% 100%;
        padding: 0;
        margin: 0;
    }
    .sideBar {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .toggler img {
        height: 50px;
        max-width: 60px;
        width: 60px;
    }

    .toggler {
        display: block !important;
    }
}