@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

body {
    background-image: url('../../../Assets/Dashboard/mainBackground.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sideBar {
    background-color: var(--sideBarBackground);
    height: 100%;
}

.profileCustamization button:hover,
.profileCustamization button {
    background-color: transparent;
    border: none;
    color: var(--white);
    margin-bottom: 10px;
}

.ThisMonthsUploads h6,
.ThisMonthsUploads span {
    font-size: 0.8rem;
    margin: 0;
}

.menuList li a {
    color: var(--dashboardListLinkColor);
    text-decoration: none;
    margin: auto;
    font-weight: 600;
    display: block;
}

.menuList ul li a img {
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 15px;
    object-fit: contain;
}

.game-settings-dropdown {
    background-color: transparent !important;
}

.game-settings-dropdown .btn-primary {
    background-color: #1F2333 !important;
    border: 0;
    width: 150px;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideBar ul h6 {
    padding: 5px;
    text-transform: uppercase;
}

.sideBar ul li {
    padding: 12px;
    font-size: 1rem;
}

.sideBar ul li:hover a {
    color: #fff !important;
}

.sideBar ul img {
    margin-right: 10px !important;
}

.hero-settings {
    background: url('../.././../Assets/Settings/hero.png') no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 80px 10px;
    color: #fff;
}

.hero-tournament {
    background: url('../.././../Assets/Tournament/hero-bg.png') no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 80px 10px;
    color: #fff;
}

.hero-ranking {
    background: url('../.././../Assets/Ranking/ranking_banner.png') no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 80px 10px;
    color: #fff;
}

.game-setting-from-country-select {
    padding: 18px 50px !important;
}

.setting-from .btn:hover {
    background-color: #FF9900 !important;
    border-color: #FF9900 !important;
    box-shadow: none !important;
}

.menuList ul li {
    list-style-type: none;
}

.ranking-map button {
    background-color: transparent !important;
    border: 0;
}

.ranking-map button::before {
    content: "\f279";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 12px;
}

.ranking-map button::after {
    content: "" !important;
    border: 0 !important;
}

.table tr {
    color: #fff !important;
}

.winner-1 td:first-child {
    background-color: #4E7CFF !important;
    width: 5%;
}

.winner-2 td:first-child {
    background-color: #FFCC40 !important;
    width: 5%;
}

.winner-3 td:first-child {
    background-color: #40C27B !important;
    width: 5%;
}

.ranking-table-body td {
    background-color: #1F2333;
    padding: 15px;
    border: 0 !important;
    text-align: center;
}


@media screen and (max-width: 992px) {
    .hero-settings, .hero-tournament {
        background-position: center;
    }
}