.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-brand {
    margin-right: 8rem;
    font-size: 24px;
}

.nav-link {
    margin: auto 25px;
}

.registerBtn {
    background: var(--primary) !important;
    color: var(--white) !important;
    border-radius: 5px;
    width: 100%;
    max-width: 158px;
    text-align: center;
    font-weight: 500;
}

img.loginIcon {
    width: 100%;
    max-width: 32%;
    margin-right: 4px;
}

.navbar-dark .navbar-nav .nav-link.active {
    position: relative;
}

a.nav-link {
    position: relative;
    transition: 1s;
}

a.nav-link::before,
a.nav-link.active::before {
    content: '';
    height: 3px;
    position: absolute;
    background: #7060FF;
    bottom: -28px;
    right: 0;
    left: 0;
    margin: auto;
    transition: 0.5s;
}

a.nav-link.active::before {
    width: 100%;
}

a.nav-link::before {
    width: 0;
    transition: 1s;
}

.navbar-nav a.nav-link:hover::before {
    width: 100%;
    transition: 1s !important;
}

.mobileNavButtons {
    display: contents;
}