 .modal-content {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
   pointer-events: auto;
   background-color: #191c26 !important;
   background-clip: padding-box;
   border: 0;
   border-radius: 0;
   outline: 0;
 }

 .recipts-info span:first-child {
   color: #9A9A9A;
 }

 .go-back {
   width: 176px;
   height: 47px;
   background-color: #152031;
   border-radius: 11.5px;
   color: #5AA3E5;
 }