 .modal-content {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
   pointer-events: auto;
   background-color: #191c26 !important;
   background-clip: padding-box;
   border: 0;
   border-radius: 0;
   outline: 0;
 }

 .editProfilePhoto {
   max-width: fit-content;
 }

 .recipts-info span:first-child {
   color: #9A9A9A;
 }

 .go-back {
   width: 176px;
   height: 47px;
   background-color: #152031;
   border-radius: 11.5px;
   color: #5AA3E5;
 }

 .bg-orange-c {
   background-color: #f67605;
   width: 30px !important;
   height: 30px
 }

 .bg-pink-c {
   background-color: #ED5859;
   width: 30px !important;
   height: 30px
 }

 .bg-blue-c {
   background-color: #2E7FEB;
   width: 30px !important;
   height: 30px
 }

 .bg-purple-c {
   background-color: #422C5A;
   width: 30px !important;
   height: 30px
 }