@media screen and (max-width: 1024px) {
    .nav-tabs .nav-link {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 992px) {
    .registrationSlide01,
    .registrationSlide02 {
        height: 100%;
        max-height: 460px;
    }
    .slideImg {
        position: relative;
        top: 0;
        max-width: 100%;
        max-height: 480px;
        object-fit: cover;
        object-position: center right;
    }
    .verticallyCenter02,
    .verticallyCenter {
        position: relative;
        top: 0px;
    }
    .verticallyCenter02 h3,
    .verticallyCenter02 p,
    .verticallyCenter h3,
    .verticallyCenter p {
        max-width: 50%;
        margin-left: 50px;
        top: -170px;
    }
    .slick-dots {
        max-width: 65%;
        bottom: 10px;
    }
    img.registrationSlidesBg {
        max-height: 520px;
        top: 0;
    }
    img.slideImg02 {
        top: 0;
        transform: translate(0%, 0%);
    }
    .formTabs {
        padding: 35px 15px;
    }
}

@media screen and (max-width: 480px) {
    .slideImg {
        position: relative;
        max-width: 450px;
        max-height: 280px;
        object-fit: cover;
        top: 0;
    }
    .mainBackground {
        min-height: 780px;
    }
    .formTabs {
        padding: 25px 15px;
    }
    .registrationSlide01,
    .registrationSlide02 {
        height: 100%;
        max-height: 260px;
    }
    img.slideImg02 {
        max-width: 190px;
    }
    .nav-tabs .nav-link {
        font-size: 0.8rem;
    }
    .verticallyCenter02 h3,
    .verticallyCenter02 p,
    .verticallyCenter h3,
    .verticallyCenter p {
        max-width: 90%;
        margin-left: auto;
    }
}