@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Montserrat:wght@100&family=Rubik:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Allan', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.input-group-text,
.form-control,
.form-control:focus,
input,
textarea,
select,
textarea:focus,
input:focus,
input::placeholder {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
    background-color: #242633 !important;
    border: #242633 !important;
    color: #989898;
    padding: 0.6rem 0.75rem !important;
}

input {
    border-radius: 0.25rem !important;
}

.form-control:focus,
textarea:focus,
input:focus {
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255, 0.3) !important;
    background-color: #242633 !important;
    border: #242633 !important;
    color: #989898;
    padding: 0.6rem 0.75rem !important;
    border-radius: 5px;
}

.primary {
    background: #7060FF !important;
    border: 1px solid transparent !important;
    transition: 1s;
    height: 52px;
    font-size: 16px;
    border-radius: 0.25rem;
}

.primary:hover {
    background: #4231d9 !important;
    border: 1px solid #7060FF !important;
    transition: 1s;
}

.secondary {
    background: #3D435C !important;
    color: #fff;
    border: 1px solid transparent !important;
    transition: 1s;
    text-decoration: none;
    height: 52px;
    font-size: 16px;
    border-radius: 0.25rem;
    align-items: center;
}

.secondary:hover {
    background: transparent !important;
    color: #fff;
    border: 1px solid #3D435C !important;
    transition: 1s;
}

.was-validated :invalid~.invalid-feedback {
    position: absolute;
    text-align: right;
    width: 45%;
    z-index: 99;
    top: 10px;
    margin: auto;
    right: 35px;
}

.text-muted {
    color: #BCBCBC !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: transparent !important;
    border: none !important;
}

.nav-tabs {
    border: none;
}

.formTabs li {
    width: 50%;
}

.formTabs li button {
    color: rgba(255, 255, 255, 0.5);
}

.formTabs .nav-link,
.formTabs .nav-link.active {
    width: 100%;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-weight: 500;
}

.formTabs .nav-link.active {
    position: relative;
    color: #fff;
    font-weight: 500;
}

.formTabs .nav-link.active::after {
    content: '';
    border: none;
    background: #7060FF !important;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
}

form.form {
    margin: 50px auto 20px;
}

.form-check-input:checked[type=checkbox] {
    filter: invert(1);
}

.errorAlert {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: inline-flex;
    width: 100%;
    padding: 10px;
    margin: 20px auto;
}

.errorAlert svg,
.errorAlert p,
.errorAlert small {
    margin: auto;
}

.mainBackground {
    background: url('./Assets/RegistrationPageImages/mainBg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

input.date-input {
    background-color: transparent !important;
    border: 0;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px !important;
    padding: 0 !important;
}