@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Montserrat:wght@100&family=Rubik:wght@400;500&display=swap");
* {
    margin: 0;
    padding: 0;
}

:root {
    // Colors
    --bgDark: #2e3244;
    --dark: #242633;
    --light: #989898;
    --white: #fff;
    --primary: #7060ff;
    --warning: #ff9900;
    --primaryOnHover: #4231d9;
    --secondary: #3d435c;
    --secondaryOnHover: transparent;
    --text-muted: #8289a3;
    --radial-gradient: radial-gradient(#3a3958 0%, transparent 60%);
    --sliderArrow: #13151c;
    --border: #747579;
    --FooterBg: #221f3b;
    --forMobileView: #222533;
    --sideBarBackground: #1b1e2d;
    --success: #9eff00;
    --dashboardListLinkColor: #323d52;
    // End
    // Fonts
    --RubikFont: "Rubik", sans-serif, "Allan", cursive, "Montserrat", sans-serif;
    // End
}

html,
body {
    font-family: var(--RubikFont);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.btn-success {
    color: var(--dark);
    background-color: var(--success);
    border-color: var(--success);
    border-radius: 10px;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-check:focus + .btn,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
    background-color: transparent;
}

.was-validated :invalid ~ .invalid-feedback {
    position: absolute;
    text-align: right;
    width: 45%;
    z-index: 99;
    top: 10px;
    margin: auto;
    right: 35px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: transparent !important;
    border: none !important;
}

.nav-tabs {
    border: none;
}

.formTabs li {
    width: 50%;
}

.formTabs li button {
    color: var(--light);
}

.formTabs .nav-link,
.formTabs .nav-link.active {
    width: 100%;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid var(--light);
    padding-bottom: 20px;
    margin: 0;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 2px solid var(--light);
    color: var(--white);
    font-weight: 500;
    margin: 0;
}

.formTabs .nav-link.active {
    position: relative;
    color: #fff;
    font-weight: 500;
}

.formTabs .nav-link.active::after {
    content: "";
    border: none;
    background: var(--primary) !important;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
}

form.form {
    margin: 50px auto 20px;
}

.form-check-input:checked[type="checkbox"] {
    filter: invert(1);
}

.errorAlert {
    background: var(--dark);
    border-radius: 5px;
    display: inline-flex;
    width: 100%;
    padding: 10px;
    margin: 20px auto;
}

.errorAlert svg,
.errorAlert p,
.errorAlert small {
    margin: auto;
}

.mainBackground {
    background: url("./Assets/RegistrationPageImages/mainBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formTabs .nav-link {
    position: relative;
}

.formTabs .nav-link::after {
    content: "";
    border: none;
    background: var(--primary) !important;
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    transition: 1s;
    right: 0;
    left: 0;
    margin: auto;
}

.bg-dark {
    background-color: var(--bgDark) !important;
}

.text-muted {
    color: var(--text-muted) !important;
}

.input-group-text,
.form-control,
.form-control:focus,
input,
textarea,
select,
textarea:focus,
input:focus,
input::placeholder {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
    background-color: var(--dark) !important;
    border: var(--dark) !important;
    color: var(--light);
    padding: 0.6rem 0.75rem !important;
}

input {
    border-radius: 0.25rem !important;
}

.form-control:focus,
textarea:focus,
input:focus {
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255, 0.3) !important;
    background-color: var(--dark) !important;
    border: var(--dark) !important;
    color: var(--light);
    padding: 0.6rem 0.75rem !important;
    border-radius: 5px;
}

.primary {
    background: var(--primary) !important;
    border: 1px solid transparent !important;
    transition: 1s;
    height: 52px;
    font-size: 16px;
    border-radius: 0.25rem;
}

.primary:hover {
    background: var(--primaryOnHover) !important;
    border: 1px solid var(--primary) !important;
    transition: 1s;
}

.secondary {
    background: var(--secondary) !important;
    color: var(--white);
    border: 1px solid var(--secondaryOnHover) !important;
    transition: 1s;
    text-decoration: none;
    height: 52px;
    font-size: 16px;
    border-radius: 0.25rem;
    align-items: center;
}

.secondary:hover {
    background: var(--secondaryOnHover) !important;
    color: var(--white);
    border: 1px solid var(--secondary) !important;
    transition: 1s;
}

.btn-warning {
    background: var(--warning);
    border: 1px solid var(--warning);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    transition: 1s;
}

.btn-primary {
    background: var(--primary);
    border-color: var(--primary);
    transition: 1s;
}

.btn-primary:hover {
    background: var(--primaryOnHover);
    border-color: var(--primaryOnHover);
    transition: 1s;
}

.formTabs .nav-link:hover::after {
    width: 100%;
    transition: 1s;
}

span.leftIcon.input-group-text {
    position: absolute;
    max-width: 70px;
    z-index: 99;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 !important;
    opacity: 1;
    padding-left: 20px !important;
}

input.form-control {
    padding-left: 60px !important;
    border: none !important;
    height: 57px !important;
}

input.form-control:focus {
    padding-left: 60px !important;
    color: var(--white) !important;
}
.upload-map-card.card {
    background-color: transparent !important;
    border: 0;
}
.upload-map-image,
.upload-map-card {
    height: 130px;
    max-height: 130px;
    width: 100%;
    width: 300px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
.section2 .upload-map-card {
    background-color: #42434d !important;
}

.upload-map-image {
    border: 1px #fff dashed;
    background-color: transparent !important;
    height: 130px;
    max-height: 130px;
    width: 100%;
    width: 300px;
    max-width: 100%;
}
.upload-map-card img {
    height: 160px;
    max-height: 160px;
    width: 100%;
    width: 300px;
    max-width: 100%;
}
.upload-images-title svg,
.upload-images-title span {
    opacity: 0.4;
    color: #fffafa;
}

.cursor-pointer {
    cursor: pointer;
}
